@font-face {
  font-family: Rubik-Bold;
  src: url(res/Rubik-Bold.ttf);
}
@font-face {
  font-family: Rubik-Medium;
  src: url(res/Rubik-Medium.ttf);
}
/* @font-face {
    font-family: NotoColorEmoji;
    src: url(res/NotoColorEmoji.ttf);
} */

.body {
  margin: 0 auto;
  -webkit-user-select: none;
  background-color: rgb(37, 37, 38);
}

::-webkit-scrollbar {
  width: 0;
}

.top-menu {
  height: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(50, 50, 51);
}

.bottom-menu {
  height: 25px;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: rgb(50, 50, 51);
}

.ddspace {
  height: 100%;
  width: auto;
  display: flex;
  flex: 1;
  color: #deddda;
  font-family: Rubik-Bold;
  align-items: center;
  margin-left: 5px;
  font-size: 9pt;
  -webkit-app-region: drag;
}

.logo{
  height: 17px;
  width: 17px;
  border-radius: 20%;
  display: flex;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 70, 71);
  box-shadow: 0 0 3px #00000050;
  -webkit-transition: all 1s ease;
}
.logo:hover{
  border-radius: 100%;
  transform: rotateZ(360deg);
}

.top-btn {
  height: 17px;
  width: 17px;
  border-radius: 20%;
  display: flex;
  margin-right: 3px;
  font-family: Rubik-Bold;
  font-size: 9pt;
  color: #303030;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 70, 71);
  -webkit-transition: all 0.3s ease;
}
.top-btn:hover {
  color: #deddda;
}

/* .maximize-btn {
  height: 17px;
  width: 17px;
  border-radius: 20%;
  display: flex;
  margin-right: 3px;
  font-family: Rubik-Bold;
  font-size: 9pt;
  writing-mode: vertical-lr;
  color: #303030;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 70, 71);
  -webkit-transition: all 0.3s ease;
}
.maximize-btn:hover {
  color: #deddda;
} */

.main-area {
  height: -webkit-calc(100vh - 50px);
  width: 100%;
  display: inline-flexbox;
  align-items: center;
  overflow: auto;
}

.card {
  display: flex;
  width: auto;
  margin: 10px;
  height: -webkit-calc(50% - 15px);
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(-180deg);
}

.card-front,
.card-back {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 0 3px #00000050;
  align-items: center;
  justify-content: center;
}

.card-front {
  background-color: rgb(45, 45, 46);
  box-shadow: 0 0 3px #00000050;
}

.card-back {
  transform: rotateY(-180deg);
  background: linear-gradient(
    90deg,
    rgba(223, 0, 0, 1) 0%,
    rgba(160, 0, 0, 1) 100%
  );
  -webkit-box-sizing: border-box;
  border: dashed rgb(255, 75, 75);
}

.card-text {
  color: #deddda;
  font-family: Rubik-Bold;
  font-size: 10pt;
}

.dialog {
  height: -webkit-calc(50% - 40px);
  width: auto;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(45, 45, 46);
  box-shadow: 0 0 3px #00000050;
  position: absolute;
  bottom: 25px;
  left: 0px;
  right: 0px;
}

.dialog-box{
  height: auto;
  width: 100%;
  display: flex;
}

.dialog-btn {
  height: 50px;
  width: 100%;
  margin: 10px;
  border-radius: 15px;
  color: #deddda;
  font-family: Rubik-Bold;
  font-size: 12pt;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  box-shadow: 0 0 3px #00000050;
  -webkit-transition: all 0.5s ease;
}
.dialog-btn:hover {
  color: rgb(30, 30, 30);
  background-color: #deddda;
}
